@model ResearchGate.Models.Comment



@{
    ViewBag.Title = "Create";
}
<center>
    <h2>Create Comment</h2>
    <hr />
</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center>
        <div style="background-color:#A3E4D7;width:600px;height:450px;border-radius:20px;box-shadow:1px 1px 2px #F4D03F, 0 0 25px #F4D03F, 0 0 5px #F4D03F;">
            <br />
            <center>
                <div class="form-group">
                    <textarea class="form-control" rows="14" cols="20" style="resize:none;"
                              @Html.TextAreaFor(model => model.Commnt, new { htmlAttributes = new { @class = "form-control" } })
                              @Html.ValidationMessageFor(model => model.Commnt, "", new { @class = "text-danger"})>
        </textarea>
                </div>
            </center>
            <div>
                <button class="btn btn-success">Submit</button>
            </div>
        </div>

    </center>
}